:root {
  --primary-color: #45889c;
  --secondary-color: #c5c98e;
  --text-color: white;
  --text-font: Arial;
}

.button-container {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 15%;
  cursor: pointer;
}

.button:hover {
  color: rgb(132, 129, 124);
  background-color: var(--secondary-color);
}

.slider-container {
  position: fixed;
  bottom: 10px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  outline: auto;
}

.slider {
  -webkit-appearance: none;
  width: 300px;
  height: 5px;
  background-color: var(--primary-color);
  outline: none;
  opacity: 0.5;
  transition: opacity 0.2s;
  border-radius: 10px; /* Adjust border-radius for slider */
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: initial;
  width: 15px;
  height: 15px;
  border-radius: 20%; /* Adjust border-radius for thumb */
  background: var(--primary-color);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff0000;
  cursor: pointer;
}

.canvas-container {
  position: fixed;
  top: 0%;
  left: 15%;
  text-align: center; /* Center align content horizontally */
}

.label {
  display: block; 
  margin-bottom: 20px; 
}

.canvas {
  width: 100%;
  height: 460px;
  outline:auto;
}

body {
  overflow: hidden;
}